<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Protected Route
    </div>
    <div class="panel-body">
      <h2>Welcome, {{currentUser.firstName || currentUser.email}}!</h2>
      <h3>Token Data</h3>
      <pre ng-bind="currentUser | json"></pre>
      <h3>/api/me data</h3>
      <pre ng-bind="userInfo | json"></pre>
    </div>
  </div>
</div>
