<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      User Administration
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Status</th>
            </tr>

            <tr ng-repeat="u in users">
                <td>
                    <strong ng-bind="u.display_name"></strong>
                    <span ng-if="u.display_name != u.email"><br><small ng-bind="u.email"></small></span>
                </td>
                <td>
                    <select ng-options="r for r in roles" ng-model="u.role" ng-change="update_user(u, 'role')"></select>
                </td>
                <td style="font-size: smaller;">
                    <ul class="list-unstyled">
                        <li><strong>Joined: </strong><span>{{ u.created | amDateFormat:'MMMM Do YYYY'}}</span></li>
                        <li><strong>Last Access: </strong><span>{{ u.last_access | amCalendar }}</span></li>
                        <label><input type="checkbox" ng-model="u.active" ng-change="update_user(u, 'active')"> Active</label>
                    </ul>
                </td>
            </tr>

        </table>
    </div>
  </div>
</div>
