body {
  background: #e4e7ec;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
  color: #000;
}

.text-muted {
  color: #90939a;
}

.navbar {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.navbar-header {
  float: left;
  padding-left: 15px;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 15px;
}

.navbar-default {
  background: #fff;
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #333;
  background-color: #ddff00;
}

.navbar-default .navbar-brand:hover {
  color: #ddff00;
  background-color: #333;
}

.navbar-brand {
  transition: 0.25s all;
  margin-left: -15px;
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}

.panel-default > .panel-heading {
  color: #444;
  border-color: #cfd9db;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  background-color: #f6f6f6;
}

.btn-primary {
  background-color: #1d7cf4;
}

.btn-success {
  background-color: #22ae5f;
}

.form-control {
  border-radius: 0;
}

.center-form {
  width: 330px;
  margin: 12% auto;
}

.signup-or-separator {
  background: none;
  height: 34px;
  position: relative;
  text-align: center;
}

.signup-or-separator hr {
  border-top: 1px solid #dce0e0;
  margin: -16px auto 10px auto;
  width: 90%;
}

.signup-or-separator .text {
  background-color: #fff;
  display: inline-block;
  margin: 0;
  padding: 8px;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.password-strength-indicator {
  position: absolute;
  right: 0;
  top: 10px;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  height: 5px;
  margin-bottom: 2px;
  width: 5px;
  border-radius: 5px;
  background: #ebeef1;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.alert-material {
  font-family: 'Roboto', sans-serif;
  outline: none;
  display: inline-block;
  background: #323232;
  color: #f1f1f1;
  min-height: 48px;
  padding: 13px 24px 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  z-index: 1;
  border-radius: 2px;
  cursor: default;
  position: fixed;
  bottom: 12px;
  right: 12px;
}

.btn {
  border-radius: 2px;
  font-weight: bold
}

.btn-lg {
  font-size: 14px;
}

.btn [class^='ion-'] {
  margin-right: 6px;
}

/*********************
* Social Buttons
*********************/

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover {
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #294786;
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae;
}

.btn-linkedin:hover {
  color: #fff;
  background-color: #0069a4;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover {
  color: #fff;
  background-color: #0090c7;
}

.btn-foursquare {
  color: #fff;
  background-color: #0072b1;
  border: 1px solid #00669e;
}

.btn-foursquare:hover {
  color: #fff;
  background-color: #00598a;
}

.btn-github {
  color: #fff;
  background-color: #444;
  border: 1px solid #3b3b3b;
}

.btn-github:hover {
  color: #fff;
  background-color: #303030;
}

.fade-repeat.ng-enter {
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

.fadeZoom.ng-enter {
  -webkit-animation-name: fadeIn, zoomIn;
  -webkit-animation-duration: 0.6s, 0.2s;
  animation-name: fadeIn, zoomIn;
  animation-duration: 0.6s, 0.2s;
}

.fadeZoomFadeDown.ng-enter {
  -webkit-animation-name: fadeIn, zoomIn;
  -webkit-animation-duration: 0.6s, 0.2s;
  animation-name: fadeIn, zoomIn;
  animation-duration: 0.6s, 0.2s;
}

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.6s;
  animation: fadeOutDown 0.6s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    -ms-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}
